doctype 5
html(lang="en")
head
  include ../../public/css/normalize.css
  include ../../public/css/room.css
  title= title

block main
  h1= room.title
  

block content
  .row
    .span9
      #list
        p= room.id
        p= room.description

  p
    br
  #nav
    form.center.form-inline.confirm(action="/rooms/"+room.id, method="post")
      ul
        li
          a.btn(href='/rooms/', title="back") Back 
        li      
          a.btn(href='/rooms/'+room._id+'/edit', title="edit") Edit 
        li
          input(type="hidden", name="_method", value="delete")
          button(type="submit") Delete