form {
	width: 600px;
	margin: 10px;
}

form legend {
	font-size: 20px;
	font-weight: bold;
}

form fieldset {
	background-color: #DDD;
}

label {
	margin: 1px;
	float: left;
	padding-left: 2px;
	width: 95%;
}

label input {
	display: inline-block;
	width: 70%;
	height: 100%;
	overflow: none;
}

.exits label input {
	display: inline-block;
	float: right;
	width: 70%;
}

label textarea {
	overflow-y: scroll;
	overflow-x: none;
	display: block;
	resize: none;
	width: 100%;
	height: 200px;
}

.buttons input {
	color: white;
	font-weight: bold;
	background-color: #111;
	width: 100%;
}

h4 {
	padding: 0px;
	margin: 0px;
}

#list {
	margin: 20px;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
	font-weight: bold;
}

#nav li {
	display: inline;
	padding: 10px;
}

#nav button {
	background-color: white;
	text-decoration: underline;
	font-weight: bold;
	border: none;
	color: red;
}
