doctype 5
html(lang="en")
head
  include ../../public/css/normalize.css
  include ../../public/css/style.css
  include ../../public/css/user.css
  title= title

block main
  h1= user.name
  

block content
  .row
    .span9
    #list
      p= user.id
      p= user.stats
  p
    br
  #nav  
    form.center.form-inline.confirm(action="/users/"+user.id, method="post")
      ul
        li 
          a.btn(href='/users/', title="back") Back
        li 
          a.btn(href='/users/'+user._id+'/edit', title="edit") Edit 
        li 
          input(type="hidden", name="_method", value="delete") 
          button.btn.btn-danger(type="submit") Delete